html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1570px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}

.align-center {
  align-self: center;
}

.col {
  padding-left: 4px;
  padding-right: 4px;
}

.col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.img-fluid {
  max-width: 100%;
}

.heading {
  font-family: "Montserrat", sans-serif !important;
}

@keyframes fade-in-out {
  0%, 100% {
    opacity: 0;
  }
  33.33%, 66.66% {
    /* duration is 3s, so fade-in at 1s, stay till 2s, fade-out from 2s */
    opacity: 1;
  }
}
@keyframes zoom {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
@keyframes shrink {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
}
@keyframes move-down-up {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(50px);
  }
}
@keyframes move-right-left {
  0%, 100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(50px);
  }
}
#header {
  height: 92px;
  padding: 20px 0;
}
#header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header .home {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
#header .header .home a {
  text-decoration: none;
}
#header .header .login {
  position: relative;
  background-color: #e73b2b;
  color: #fff;
  padding: 8px 28px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 40px;
  display: flex;
}
#header .header .login i {
  font-size: 12px;
  line-height: 27px;
  padding-right: 8px;
}
#header .header .login:hover .login__form {
  display: block;
}
#header .header .login:before {
  content: " ";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 16px;
  background-color: transparent;
}
#header .header .login .login__form {
  display: none;
  position: absolute;
  top: calc(100% + 16px);
  right: 0;
  width: 370px;
  max-height: 250px;
  background-color: #eaeaea;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
  padding: 25px 15px;
}
#header .header .login .login__form form {
  width: 100%;
}
#header .header .login .login__form form input {
  box-sizing: border-box;
  margin: 0;
  padding: 0 10px;
  border: 1px solid #e73b2b;
  width: 340px;
  height: 44px;
  border-radius: 10px;
  margin-bottom: 12px;
}
#header .header .login .login__form form button {
  width: 100%;
  background-color: #e73b2b;
  border: none;
  height: 44px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
#header .header .login .login__form::before {
  content: "";
  position: absolute;
  left: 78%;
  top: -12px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 25px solid #eaeaea;
  clear: both;
}

#home-info {
  margin-bottom: 64px;
}
#home-info .home-info {
  position: relative;
}
#home-info .home-info .leave_img {
  position: absolute;
  top: 10%;
  right: 100%;
}
#home-info .home-info__text {
  padding: 0 30px;
  text-align: center;
}
#home-info .home-info__text__heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 150.5%;
}
#home-info .home-info__text__heading span {
  font-size: 48px;
  color: #e73b2b;
}
#home-info .home-info__text__sub-heading {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #e73b2b;
  margin-top: 40px;
  padding: 0 40px;
}
#home-info .home-info__text__info {
  margin-top: 60px;
}
#home-info .home-info__text__info .info-contents {
  padding: 0 25px;
}
#home-info .home-info__text__info .info-contents .home-info__text__info__content {
  margin-top: 12px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

#home-content .home-content .row {
  margin-left: -15px;
  margin-right: -15px;
}
#home-content .home-content .col {
  padding-left: 15px;
  padding-right: 15px;
}
#home-content .home-content .content-box {
  margin-bottom: 35px;
}
#home-content .home-content .content-box__img {
  position: relative;
  width: 502px;
  margin-bottom: 20px;
  border-radius: 30px;
  overflow: hidden;
}
#home-content .home-content .content-box__img img {
  width: 100%;
  height: 502px;
  transform-origin: left top;
  /* to be on the safe side */
  animation-duration: 3s;
  /* increase only if you want duration to be longer */
  animation-fill-mode: backwards;
  /* fill mode - better to not change */
  animation-iteration-count: 1;
  /* no. of iterations - don't change */
  animation-timing-function: ease;
  /* better to leave as-is but can be changed */
}
#home-content .home-content .content-box__img .content-box-img--2 {
  position: absolute;
  top: 0;
  left: 0;
}
#home-content .home-content .content-box__text-heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
#home-content .home-content .content-box__text-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-top: 15px;
}
#home-content .home-content .content-box:hover .content-box__text-heading {
  color: #e73b2b;
}

/*# sourceMappingURL=style.css.map */
